.font {color: #DBDBDB;
  font: Helvetica;
}

.link {color: cyan;
  font: Helvetica;
}

.link2 {color: yellow;
  font: Helvetica;
}

.link3 {color: #7400FF;
  font: Helvetica;
}

.link4 {color: #1AFF00;
  font: Helvetica;
}

.link5 {color: #FF00DC;
  font: Helvetica;
}

.link6 {color: red;
  font: Helvetica;
}
